body {
    background-color: red;
}
.storB {
    background-color: brown;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 50%; 
    flex-wrap: wrap;
}
.overB {
    height: 400px;
    background-image: url('c:/wamp/www/nettsiden/Bilder/416x416.jpg');
    padding: 10px;
    margin: 30px;
    order: 3;
}
.midB {
    background-blend-mode: saturation;
    background-color: lightgray;
    background-attachment: fixed;
    margin: 0px;
    padding: 0;

}
.undB {
    background-color: pink;
}
