
body{
	background-color: #893F2F;
}

.navn {
	font-family: Comic Sans MS;
	font-size: 50;
}
#p01 {
	color:blue;
	font-family: Comic Sans MS;
	font-size: 100;
}
p.error {
	color: #FF0095;
	font-size: 400;
}
