
body {
    background-color: #00FFF0;

}

h1 {
	color:#FFFFFF;
	font-size: 800px;
	text-align:center;
	font-style:italic;
}
h3{
	color:#0f34B1;
	font-family: "Comic Sans sssMS", Arialsss, sans-sherif;
	font-size: 40
}