@charset "UTF-8";

body {
    font-family: "Comic Sans MS";
    margin: 0;

}

.BigBoks {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr 20px;
    grid-template-rows: 70px 1fr 20px;
    grid-gap: 5px;
    background-color: blueviolet;

}

.GoToTheLeft {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: blue;

}

.GoToTheMiddle {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: black;
}

.midleft  {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url('c:/wamp/www/nettsiden/Bilder/last ned (1).jpg')
}

.mid {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url('c:/wamp/www/nettsiden/Bilder/JakePaul.jpg');
    background-size: 100%;

}

.right {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url('c:/wamp/www/nettsiden/Bilder/k.jpg')

}

.midright {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url('c:/wamp/www/nettsiden/Bilder/last ned (2).jpg')

}



.bunn {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color: red;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 458px;
    top: 30px

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

ul li {
    display: inline;
    padding: 12px;
    position: center;
    
}

ul a {
    padding: 42px 95px;
    color: #000000;
    font-family: "Comic Sans Ms";
    font-weight: bold;
    text-decoration: none;
    position: relative;
    top: 2;
    font-size: 400;
    left: 200
    
}